.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: $sidebarWidth;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $sidebarBackground;

  @include box-shadow(inset -3px 3px 3px rgba(43, 50, 60, 0.5));

}
  .sidebar__header {
    height: $headerHeight;
    background-color: $sidebarBackgroundHeader;
    border-bottom: 1px solid $sidebarBorderColor;
  }
    .sidebar-header__link {
      display: block;
      padding: 0 16px 0 36px;
      line-height: 50px;
      font-size: 18px;
      color: $sidebarTextColor;
      text-shadow: 0 1px $sidebarTextShadowColor;
      text-decoration: none;
      text-transform: uppercase;
      @include transition(color .2s ease);

      &:hover {
        color: $sidebarHoverLinkColor;
        text-decoration: none;
      }
    }
